$colors__black: #000;
$colors__white: #FFF;
$colors__lavender: #E5A7E7;
$colors__pink: #E78AB5;
$colors__mint: #6FDFAC;
$colors__indigo: #7F69EE;
$colors__majorelle: #7146CC;
$colors__bluetiful: #4060D9;
$colors__cornflower: #6195E9;